$light-grey: #6c757d;
$primary-color: #007bff;
$black: #383838;
$heading: 1.4rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    max-width: 1366px;
    margin: auto;
    scroll-behavior: smooth;
}

body {
    width: 90%;
    margin: auto;
}

.carousel-caption {
    margin-bottom: 5.5%;
}

header {
    h1,
    p {
        color: $black;
    }
}

.top-heading {
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        color: $primary-color;
    }

    h1 {
        font-size: 2rem;
        cursor: pointer;
        color: $black;
    }

    p {
        margin-top: .9rem;
        color: $black;
    }

    p:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .search-icon {
        width: 1.8rem;
        height: auto;
        margin-right: 1rem;
        cursor: pointer;
        filter: invert(70%);
    }
}

nav {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    
    p:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    p {
        color: $light-grey;
        margin: 1rem;
        margin-top: 0;
    }

    img {
        display: none;
    }
}

.jcode-blogs-break {
    display: none;
}

.heading {
    font-size: $heading;
    margin: 3rem 0 1rem 0;
    color: $black !important;
}

.row {
    p,
    h3 {
        color: $black;
    }
}


@media (max-width: 992px) {
    nav {
        .left-angle,
        .right-angle {
            display: block;
            position: absolute;
            width: 2rem;
            height: auto;
            top: 5.8rem;
        }

        .left-angle {
            left: 1rem;
        }

        .right-angle {
            right: 1rem;
        }
    }
}


@media (max-width: 576px) {
    .top-heading {
        h1 {
            font-size: 1.4rem;
        }
    }

    .jcode-blogs-break {
        display: block;
    }
}